@model WebApplication1.Models.Pelicula

<div class="form-group">
    @Html.LabelFor(Model => Model.Titulo):
    @Html.DisplayFor(Model => Model.Titulo)
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.Duracion):
    @Html.DisplayFor(Model => Model.Duracion)
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.Pais):
    @Html.DisplayFor(Model => Model.Pais)
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.Publicacion):
    @Html.DisplayFor(Model => Model.Publicacion)
</div>
<div class="form-group">
    @Html.LabelFor(Model => Model.Visto):
    @Html.DisplayFor(Model => Model.Visto)
</div>